<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Personal</title>
<link rel="stylesheet" th:href="@{/css/personalSignUp.css}">

</head> 
<body>
    <div layout:fragment="content">     
        <div class="main_membership">
            <div class="title_membership">
                <span>회원정보 수정</span>
            </div>
            <div class="title_ent">
                <span>일반회원 정보 수정</span>
            </div>
             <form th:action="@{/admin/memModify/{mid}(mid=${memberModifyFormDto.mid})}" th:method="put" th:object="${memberModifyFormDto}" onsubmit="return confirm('정보 수정을 하시겠습니까?');">
             <div class="per_a">
                 <div class="per_id"><span>아이디</span></div>
                 <div><input  class="per_tex" name="mid" id="mid" th:field="*{mid}" type="text" readOnly></div>
             </div>
             <div class="per_b">
                 <div class="per_name"><span>이름</span></div>
                 <div><input class="per_tex" type="text" name="name" id="name" th:field="*{name}" readOnly></div>
             </div>
             <div class="per_e">
                 <div class="per_mail"><span>이메일</span></div>
                 <div><input class="per_tex" name="email" id="email" th:field="*{email}" placeholder="  이메일을 입력해주세요" readOnly></div>
             </div>
             <div class="per_g">
                 <div class="per_tel"><span>권한</span></div>
                 <div><select class="per_tex" th:field="*{Role}" name="Role" id="tel">
                 	<option th:value="USER" th:field="*{Role}">USER</option>
                 	<option th:value="VOLUNTEER" th:field="*{Role}">VOLUNTEER</option>
                 	<option th:value="ADMIN" th:field="*{Role}">ADMIN</option>
                 </select></div>
             </div>
             <input type="submit" class="modify" id="regist" value="수정완료">
             <a href="/admin/memManagement"><input class="cancel-modify" value="취소"></a>
             <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
             </form>
			<form th:action="@{/admin/memDelete/{mid}(mid=${memberModifyFormDto.mid})}" th:method="delete" onsubmit="return confirm('탈퇴 하시겠습니까?');">
				<input type="submit" class="withdrawal" value="탈퇴">
			</form>
        </div>
        </div>
      
</body>
</html> 