<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
		layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>AdminMenu</title>
<link rel="stylesheet" th:href="@{/css/adminmenu.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="subMenu">
        <ul>
           <li><a href="#">업체등록승인</a></li>
           <li><a href="#">회원관리</a></li>
       </ul>
   </div>
   <div class="container">
       <div class="title">
           <h1>업체등록 게시판</h1>
       </div>
       <div class="approval_content">
       <table width="100%">
           <thead>
               <tr>
                   <td>신청한 기업</td>
                   <td>신청한 장소</td>
                   <td>신청한 날짜</td>
                   <td>승인상황</td>
               </tr>
           </thead>
           <tbody>
               <tr th:each="list : ${appCom}">
                   <td th:text="${list.com}">></td>
                   <td th:text="${list.email}"></td>
                   <td>[[${#temporals.format(list.startDay, 'yyyy-MM-dd')}]]~[[${#temporals.format(list.finishDay, 'yyyy-MM-dd')}]]</td>
                   <td></td>
               </tr>
           </tbody>
       </table>
       </div>
   </div>
</div>
</body>
</html>