<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
		layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>AdminMenu</title>
<link rel="stylesheet" th:href="@{/css/management.css}">
<script type="text/javascript">

</script>
</head>
<body>
<div layout:fragment="content">
    <div class="subMenu">
        <ul>
           <li><a href="#">기업 승인관리</a></li>
           <li><a href="/admin/memConsent">자원 봉사자 승인관리</a></li>
           <li><a href="/admin/memManagement">회원관리</a></li>
           <li><a href="/admin/comManagement">기업관리</a></li>
       </ul>
   </div>
   <div class="container">
   	   <div class="container2" id="cont2">
       <div class="title">
           <h1>기업관리</h1>
       </div>
       <div class="approval_content">
       <table width="100%">
           <thead>
               <tr>
               	   <td>번호</td>
                   <td>기업명</td>
                   <td>사업자번호</td>
                   <td>이메일</td>
                   <td>업체등록현황</td>
               </tr>
           </thead>
           <tbody>
               <tr th:each="list : ${comManage}">
               	   <td th:text="${list.id}"></td>
                   <td th:text="${list.name}"></td>
                   <td th:text="${list.com}"></td>
                   <td th:text="${list.email}"></td>
                   <td th:text="${list.approval}"></td>
               </tr>
           </tbody>
       </table>
       </div>
       </div>
       		<div class="pagebtn">
			<th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
            <a th:if="${page==0? page==1 : page != nowPage}" th:href="@{/admin/comManagement(page=${page-1})}" th:text ="${page}"></a>
            <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
       		 </th:block>
			</div>
   </div>
</div>
</body>
</html>