<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>주변관광지수정창</title>
<link rel="stylesheet" th:href="@{/css/tourboardview.css}">
<script th:inline="javascript">
$(document).ready(function(){
	var errorMessage = [[${errorMessage}]];
	if(errorMessage != null){
		alert(errorMessage);
	}
	var fileList = [[${tourBoardDto}]];
	var list = new Array();
	$.each(fileList.fileDtoList, function(i,e){
		list.push(e.oriImg+"          ");
	});
	$(".upload-name").val(list.join(''));
	var newList = new Array();
	$(this).on("change", function(e){
		newList = [];
		$(e.target.files).each(function(i,a){
			newList.push(a.name +"        ");
			$(".upload-name").val(newList.join(''));
		});
	});
	$("#succSubmit").on("click", function(){
		var inputFile = $("input[name='files']");
		var files = inputFile[0].files;
	    if( files != "" ){
	    	for(var i=0; i< files.length; i++){
	    		var ext = files[i].name.split('.').pop().toLowerCase();
		        if($.inArray(ext, ['jpg','png']) == -1) {
		          alert("jpg, png 파일만 업로드 할수 있습니다.");
		          return false;
		        }
	    	}
	    }
		if(confirm('글을 수정하시겠습니까?')){
			console.log("확인");
			alert("글을 수정하였습니다.");	
		} else {
			return false;
		}
	});
});
</script>
</head>

<body>
<div layout:fragment="content">
 <div class="subMenu">
       <ul>
           <li><a href="/news/tour">주변관광지</a></li>
           <li><a href="/news/announcement">공지사항</a></li>
           <li><a href="/news/event">이벤트게시판</a></li>
       </ul>
   </div>
   <div class="freeboard">
       <div class="free_title">
          <div class="title">
               <span>주변관광지 수정</span>
           </div>
       </div>
	<form th:method="put" enctype="multipart/form-data" th:action="@{/news/update/{id}(id=${tourBoardDto.id})}">
       <div class="info_content">
            <div class="info_title">
                <div class="info_title_inner">
                    <label for="" >
                        제목
                    </label>
                    <input type="text" th:field="${tourBoardDto.title}">
                </div>
            </div>
            <div class="info_cont">
                <div class="info_cont_inner">
                    <label for="" >
                        내용
                    </label>
                    <textarea name="" id="test" cols="83" rows="10"  th:field="${tourBoardDto.content}">
                    </textarea>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(tourBoardDto.fileDtoList)}" class="info_imgs">
            	<label for="">
            		사진
            	</label>
            	<div class="imgs">
            		<span th:each="list : ${tourBoardDto.fileDtoList}">
            		<img th:src="${list.savePath}">
            		</span>
            	</div>
            </div>
           <div class="info_file">
                <input type="file" multiple="multiple" accept=".jpg,.png" id="files" name="files">
                <label class="file_label" for="files"><div>업로드</div></label>
                <input class="upload-name" value="" disabled="disabled">
            </div>
            <div class="info_submit">
               <button class="submit" id="succSubmit">수정 글 등록</button>
            </div>
           
       </div>
       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	</form>
</div>
     
   
  
 </div>
    
</body>
</html>