<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>관람후기상세보기</title>
<link rel="stylesheet" th:href="@{/css/boarddetail.css}">
<script th:inline="javascript">
$(document).ready(function(){
	var errorMessage = [[${errorMessage}]];
	var succMessage = [[${succMessage}]];
	if(errorMessage != null){
		alert(errorMessage);
	}
	if(succMessage != null){
		alert(succMessage);
	}
	$("#succSubmit").on("click", function(){
		if(confirm('글을 삭제하시겠습니까?')){
			alert("글을 삭제하였습니다.");	
		} else {
			return false;
		}
	});
});
</script>
</head>

<body>
<div layout:fragment="content">
 <div class="subMenu">
       <ul>
           <li><a href="/board/review">관람후기</a></li>
           <li><a href="/board/idea">국민아이디어</a></li>
           <li><a href="/board/survey">설문게시판</a></li>
           <li><a href="/board/volunteer" sec:authorize="hasAnyAuthority('ROLE_VOLUNTEER','ROLE_ADMIN')">자원봉사게시판</a></li>
       </ul>
   </div>
   <div class="freeboard">
       <div class="free_title">
          <div class="title">
               <span>관람후기 상세보기</span>
           </div>
       </div>
       <div class="info_content">
            <div class="info_title">
                <div class="info_title_inner">
                    <label for="" >
                        제목
                    </label>
                    <input type="text" th:field="${freeBoardDto.title}" readOnly>
                </div>
            </div>
            <div class="info_cont">
                <div class="info_cont_inner">
                    <label for="" >
                        내용
                    </label>
                    	<textarea name="" id="test" cols="83" rows="10"  th:field="${freeBoardDto.content}" readOnly></textarea>
                </div>
            </div>
            <div class="info_create">
                <div class="info_create_inner">
                    <label for="">
                        작성자
                    </label>
                    <input type="text" th:field="${freeBoardDto.createdBy}" readOnly >
                </div>
			</div>
			<div th:if="${not #lists.isEmpty(freeBoardDto.fileDtoList)}" class="info_imgs">
            	<label for="">
            		사진
            	</label>
            	<div class="imgs">
            		<span th:each="list : ${freeBoardDto.fileDtoList}">
            			<img th:src="${list.savePath}">
            		</span>
            	</div>
            </div>
       </div>
       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <form th:action="@{/board/reviewDelete/{id}(id=${freeBoardDto.id})}" th:method="delete">	
    	<div class="info_submit" th:if="${session.userAuth == 'ROLE_ADMIN' ? session.userAuth == 'ROLE_ADMIN' : session.userId == freeBoardDto.createdBy}">
			<a th:href="@{/board/reviewModify/{id}(id=${freeBoardDto.id})}">수정</a>
			<button type="submit" class="submit" id="succSubmit">삭제하기</button>
         </div>
    </form>
   </div>
 </div>
    
</body>
</html>