<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>자원봉사게시판작성창</title>
<link rel="stylesheet" th:href="@{/css/boarddetail.css}">
<script th:inline="javascript">
$(document).ready(function(){
	var errorMessage = [[${errorMessage}]];
	var succMessage = [[${succMessage}]];
	if(errorMessage != null){
		alert(errorMessage);
	}
	if(succMessage != null){
		alert(succMessage);
	}
	var newList = new Array();
	$(this).on("change", function(e){
		newList = [];
		$(e.target.files).each(function(i,a){
			newList.push(a.name +"        ");
			$(".upload-name").val(newList.join(''));
		});
	});
	$("#succSubmit").on("click", function(){
		var inputFile = $("input[name='files']");
		var files = inputFile[0].files;
	    if( files != "" ){
	    	for(var i=0; i< files.length; i++){
	    		var ext = files[i].name.split('.').pop().toLowerCase();
		        if($.inArray(ext, ['jpg','png']) == -1) {
		          alert("jpg, png 파일만 업로드 할수 있습니다.");
		          return false;
		        }
	    	}
	    }
		if(confirm('글을 작성하시겠습니까?')){
			alert("글을 작성하였습니다.");	
		} else {
			return false;
		}
	});
});
</script>
</head>

<body>
<div layout:fragment="content">
 <div class="subMenu">
       <ul>
           <li><a href="/board/review">관람후기</a></li>
           <li><a href="/board/idea">국민아이디어</a></li>
           <li><a href="/board/volunteer" sec:authorize="hasAnyAuthority('ROLE_VOLUNTEER')">자원봉사게시판</a></li>
       </ul>
   </div>
   <div class="freeboard">
       <div class="free_title">
          <div class="title">
               <span>자원봉사게시판 글쓰기</span>
           </div>
       </div>
       <form action="/board/volunteerNew" method="post"  th:object="${freeBoardDto}" enctype="multipart/form-data">
       <div class="info_content">
            <div class="info_title">
                <div class="info_title_inner">
                    <label for="">
                        제목
                    </label>
                    <input type="text"  th:field="*{title}">
                </div>
            </div>
            <div class="info_cont">
                <div class="info_cont_inner">
                    <label for="">
                        내용
                    </label>
                    <textarea name="" id="test" cols="83" rows="10" th:field="*{content}"></textarea>
                </div>
            </div>
           <div class="info_file">
                <input type="file" multiple="multiple" accept=".jpg,.png" id="files" name="files">
                <label class="file_label" for="files"><div>업로드</div></label>
                <input class="upload-name" value="" disabled="disabled">
            </div>
            <div class="infosubmit">
               <button type="submit" id="succSubmit">작성 글 등록</button>
            </div>
       </div>
       <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
   </div>
 </div>
    
</body>
</html>