<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Personal</title>
<link rel="stylesheet" th:href="@{/css/personalSignUp.css}">
<script th:inline="javascript">
$(document).ready(function(){
	var errorMessage = [[${errorMessage}]];
	var succMessage = [[${succMessage}]];
	if(errorMessage != null){
		alert(errorMessage);
	}
	if(succMessage != null){
		alert(succMessage);
	}
});
</script>
</head> 
<body>
    <div layout:fragment="content">     
        <div class="main_membership">
            <div class="title_membership">
                <span>회원정보 수정</span>
            </div>
            <div class="title_ent">
                <span>기업회원 정보 수정</span>
            </div>
             <form th:action="@{/signup/comMypageUpdate/{com}(com=${companyModifyFormDto.com})}" th:method="put" th:object="${companyModifyFormDto}">
             <div class="per_a">
                 <div class="per_id"><span>아이디</span></div>
                 <div><input  class="per_tex" name="com" id="com" th:field="*{com}" type="text" readOnly></div>                
             </div>
             <div class="per_b">
             
                 <div class="per_name"><span>이름</span></div>
                 <div><input class="per_tex" type="text" name="name" id="name" th:field="*{name}" readOnly></div>
             </div>
      <p th:if="${#fields.hasErrors('name')}"  th:errors="*{name}" class="fieldError" id="fieldErrorName">Incorrect data</p> 
             <div class="error_div"><span class="error" id="nameMsg" ></span></div>
            <div class="per_c">
                 <div class="per_pw"><span>비밀번호</span></div>
                 <div><input class="per_tex" type="password" name="password" id="password" th:field="*{password}" placeholder="  비밀번호를 입력해주세요"></div>
             </div>
         <p th:if="${#fields.hasErrors('password')}"  th:errors="*{password}" class="fieldError" id="fieldErrorPw">Incorrect data</p> 
             <div class="error_div"><span class="error" id="passwordMsg" ></span></div>
             <div class="per_d">
                 <div class="per_pw_ck"><span>비밀번호확인</span></div>
                 <div><input class="per_tex" type="password" name="password2" id="password2" th:field="*{confirmPassword}" placeholder="  비밀번호를 입력해주세요"></div>
             </div>
             <div class="error_div"><span class="error" id="passwordMsg1" ></span></div>
             <div class="succ_div"><span class="succ" id="passwordMsg2" ></span></div>                                        
             <div class="per_e">
                 <div class="per_reservation"><span>예약현황</span></div>
                 <div><input class="per_tex" th:field="*{approval}" readOnly></div>
             </div>
              <div class="per_f">
                <div class="per_location"><span>예약장소</span></div>
                 <div><input class="per_tex" type="text" placeholder="예약된 장소가 없습니다." th:field="*{location}" id="emailcode" readOnly></div>
             </div>
             <div class="per_g">
                 <div class="per_day"><span>예약날짜</span></div>
                 <div th:if="*{startDay!=null}"><span class="per_day1">[[*{startDay}]] ~ [[*{endDay}]]</span></div>
                 <div th:if="*{startDay==null}"><span class="per_day1"></span></div>
             <!-- <div><span class="per_day1">[[*{startDay}]] ~ [[*{endDay}]]</span></div> -->
             </div>
             <input type="submit" class="modify" id="modify" value="수정완료">
             <a href="/"><input class="cancel-modify" value="취소"></a>
             <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
             <script type="text/javascript" src="/javascript/companyModify.js"></script>  
             </form>
			<form th:action="@{/signup/comDelete/{com}(com=${companyModifyFormDto.com})}" th:method="delete">
				<input type="submit" class="withdrawal" value="탈퇴">
			</form>
			<form th:action="@{/signup/cancle/{id}(id=${companyModifyFormDto.reservationId})}" th:method="put">
				<input type="submit" class="cancleSubmit" value="예약취소">
			</form>
        </div>
        </div>
      
</body>
</html> 