<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
    <title>여수섬키워드</title>
<link rel="stylesheet" th:href="@{/css/tourboard.css}">
<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<script type="text/javascript">
 $(document).ready(function () {
//클래스 개수 가져오기
let class1 = document.getElementsByClassName('keyword');
for(let i = 0; i< class1.length; i++){
   class1[i].addEventListener('mouseenter', () => {
      class1[i].children[0].style.display='none';
      class1[i].children[2].style.display='none';
      class1[i].children[1].style.display='block';
   });
class1[i].addEventListener('mouseleave', () => {
      class1[i].children[0].style.display='block';
      class1[i].children[2].style.display='block';
      class1[i].children[1].style.display='none';
   });
}
});
$(function(){
         var chkObj = document.getElementsByName("RowCheck");
         var rowCnt = chkObj.length;
         
         $("input[name='allCheck']").click(function(){
            var chk_listArr = $("input[name='RowCheck']");
            for (var i=0; i<chk_listArr.length; i++){
               chk_listArr[i].checked = this.checked;
            }
         });
         $("input[name='RowCheck']").click(function(){
            if($("input[name='RowCheck']:checked").length == rowCnt){
               $("input[name='allCheck']")[0].checked = true;
            }
            else{
               $("input[name='allCheck']")[0].checked = false;
            }
         });
      });
      function deleteValue(){
         var url = "/introduction/delete";    // Controller로 보내고자 하는 URL
         var valueArr = new Array();
          var list = $("input[name='RowCheck']");
          for(var i = 0; i < list.length; i++){
              if(list[i].checked){ //선택되어 있으면 배열에 값을 저장함
                  valueArr.push(list[i].value);
              }
          }
          console.log(valueArr)
          if (valueArr.length == 0){
             alert("선택된 글이 없습니다.");
          }
          else{
            var chk = confirm("정말 삭제하시겠습니까?");          
            var header = $("meta[name='_csrf_header']").attr('content');
    		var token = $("meta[name='_csrf']").attr('content');
            $.ajax({
                url : url,                    // 전송 URL
                type : 'POST',                // POST 방식
                async:false,
                data : {
                   valueArr :   valueArr     // 보내고자 하는 data 변수 설정
                },
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header, token);
                	},
                   success: function(jdata){
                       if(jdata = 1) {
                           alert("삭제 성공");
                           location.replace("/introduction/keyword")
                       }
                       else{
                           alert("삭제 실패");
                       }
                   }
            });
         }
      }
</script>
</head>

<body>
<div layout:fragment="content">
    <div class="subMenu">
        <ul>
            <li><a href="/introduction/exhibition">전시장안내</a></li>
            <li><a href="/introduction/directions">행사장오시는길</a></li>
            <li><a href="/introduction/keyword">여수섬키워드</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="title">
            <h1>여수섬 키워드</h1>
            <input id="allCheck" type="checkbox" name="allCheck">
        </div>
        
               <th:block th:each="keyword, status:${keyword.getContent()}" class="blo">
                        <div class="flip">
                        <div class="keyword">                        
                            <div class="keyword_pic">                            
                        <img class="keywordImg" th:src="${keyword.savePath}">                        
                            </div>
                            <div class="keyword_back_pic">
                        <img th:src="${keyword.backSavePath}">                       
                            </div>
                        </div>
                        <div class="keyword_tit">
                            <span th:text="${keyword.title}"></span>
                            <input name="RowCheck" type="checkBox" th:value="${keyword.id}"> 
                         </div>
                        </div>
                        
                     </th:block>
     </div>
     <div class="wrap">
           <div class="pagebtn">
           <th:block th:each="page:${#numbers.sequence(startPage,endPage)}">
                  <a th:if="${endPage==0? endPage==1 : page != nowPage}" th:href="@{/introduction/keyword(page=${page-1})}" th:text ="${page}"></a>
                  <strong th:if="${page==nowPage}" th:text ="${page}" style="color:red"></strong>
              </th:block>  
         </div>

         <a href="/introduction/keywordWrite" class="regist">글쓰기</a>
         
         
            <input type="button" name="keyword.id" value="선택삭제" onclick="deleteValue();">
         
     </div>     
</div>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</body>
</html>