<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
        <div class="footer" th:fragment="footer">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
            <div class="footer">
				<div class="footer_inner">
					<div class="footer_left">
						<img th:src="@{/images/footer.png}" alt="">
					</div>
					<div class="footer_middle">
						<div class="footer_middle_content">
							<p>주소 59723 전라남도 여수시 박람회길 1 (덕충동) 사업자번호 417-82-08394<br>
								TEL 1577-2012 FAX 061-659-2029
							</p>
							<p>
								Copyright © EXPO 2026 YEOSU KOREA FOUNDATION All rights reserved.
							</p>
						</div>
					</div>
					<div class="footer_right">
						<select name="familysite" id="familysite" onchange="if(this.value) window.open(this.value);">
							<option value="">
								여수세계섬박람회
							</option>
							<option value="https://www.yeosu.go.kr/">
								여수시청
							</option>
							<option value="http://www.namdokorea.com/">
								남도여행길잡이
							</option>
						</select>
					</div>
				</div>
			</div>
        </div>
</body>

</html>
