    .subMenu{
    margin-top: 10px;
    height: 50px;
    border-bottom: 1px solid grey;
}
.subMenu > ul {
    margin-left: 13%;
    line-height: 35px;
}
.subMenu > ul > li{
    list-style: none;
    float: left;
    margin-left: 50px;
}
.subMenu > ul > li > a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.subMenu > ul > li > a:hover{
   color : red;
}


/*    자유게시판*/
.freeboard{
    width: 70%;
    height: 960px; 
    margin: auto;
}

.free_title{
    position: relative;
    border-bottom: 1px solid black;
    height: 100px;
}

.free_title > .title{
    position: absolute;
    margin-top: 30px;
}

.free_title > .title > span{
    font-size: 30px;
    font-weight: bold;
}

.free_content{
    background-color: rgba(196, 196, 196, 0.3);
    width: 95%;
    /* height: 700px; */
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.info_content{
    width: 100%;
    height: 700px;      
    margin: 0 auto;
    margin-top: 10px;
}
.info_title{
    width: 100%;
    height: 50px;
    padding-top: 20px;
}
.info_title_inner{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px; 
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.info_title_inner label{
    width: 150px;
    font-size: 18px;
}
.info_title_inner input{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    border: none;
    background: #98D1CF;
}
.info_cont{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-bottom: 2px solid black;
}

.info_cont_inner{
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.info_cont_inner label{
    width: 150px;
    line-height: 300px;
    font-size: 18px;
}
.info_cont_inner textarea{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
    border: none;
    background: #98D1CF;
    font-size: 18px;
    border-bottom: 2px solid black;
}
.info_cont_inner .eventContent{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
    border: none;
    background: #98D1CF;
    font-size: 18px;
    border-bottom: 2px solid black;
    text-align : left;
}
.info_cont_inner .survey{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
    border: none;
    background: #98D1CF;
    font-size: 18px;
    border-bottom: 2px solid black;
    line-height : 40px;
}
.info_cont_inner .survey1{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display : none;
    border: none;
    background: #98D1CF;
    font-size: 18px;
    border-bottom: 2px solid black;
    text-align : left;
}
.info_cont_inner .survey1 a {
    color : red;
    text-decoration : none;
}

.survey .survey_box{
	height : 100%;
}
.survey_ck p {
   font-weight : bold;
   font-size : 25px;
   margin-bottom : 20px;
    margin-top: 50px;
}

.survey_ck span {
	margin : 0 40px 0 10px;
}
.info_create{
    width: 100%;
    height: 50px;
}
.info_create_inner{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px; 
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.info_create_inner label{
    width: 150px;
    font-size: 18px;
}
.info_create_inner input{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    border: none;
    background: #98D1CF;
}
.info_imgs {
	width: 100%;
	height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.info_imgs label{
	width: 150px;
	line-height : 300px;
	font-size : 18px;
}
.imgs {
	width : 91%;
	height : 300px;
	overflow : auto;
}
.imgs img{
	width : 295px;
	height : 300px;
	float : left;
}
.info_file {
  margin-top: 20px;
  width: 100%;
  height: 30px;
    }
  .info_file input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
}
.info_file > #files{
   display: none;
}

.info_file > .upload-name{
   width: 500px;
   height : 30px;
   border: none;
   overflow: auto;
   white-space: nowrap;
   margin-left : 20px; 
   font-size : 16px;
}

.info_file > .file_label > div{
 width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  float: left;
}
.info_submit > a{
	display : display;
    border : 2px solid #666;
    width: 130px;
    text-align : center;
    height: 50px;
    line-height : 47px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 70%;
    float : left;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
    color: #666;
}
.info_submit > a:hover{
    background-color: #39A3C0;
    color: #fff;
}
.info_submit{
    width: 100%;
    height: 50px;
    /* margin-top : 40px; */
    margin : 40px 0 20px 0;
}
.info_submit  > button{
    display : inline;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 5%;
    border : 2px solid #666;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
    color: #666;
}
.info_submit  > button:hover{
    background-color: #39A3C0;
    color: #fff;
}
.info_submit > .submit2{
	margin-left : 85%;
}

.infosubmit{
    width: 100%;
    height: 50px;
    margin-top : 80px;
}
.infosubmit > button{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 85%;
    color: #666;
    border : 2px solid #666;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
}
.infosubmit  > button:hover{
    background-color: #39A3C0;
    color: #fff;
}
.infosubmit1{
    width: 100%;
    height: 50px;
    margin-top : 10px;
}
.infosubmit1 > button{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    margin-left: 85%;
    border : 2px solid #666;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
}
.infosubmit1  > button:hover{
    background-color: #39A3C0;
    color: #fff;
}
.role_submit{
    width: 100%;
    height: 50px;
    margin-top : -350px;
   	display : none;
}
.role_submit > button{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    margin-left: 45%;
    border : 2px solid #666;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
}
.role_submit  > button:hover{
    background-color: #39A3C0;
    color: #fff;
}
.survey_submit{
    width: 100%;
    height: 50px;
    margin-top : -350px;
   	display : none;
}
.survey_submit > button{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    color: #666;
    font-size: 18px;
    margin-left: 45%;
    border : 2px solid #666;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
}
.survey_submit  > button:hover{
    background-color: #39A3C0;
    color: #fff;
}
.succSubmit{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 50px;
    color: #666;
    border : 2px solid #666;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
    margin-top: 50px;
}
.succSubmit:hover{
    background-color: #39A3C0;
    color: #fff;
}
.succSubmit2{
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: 75%;
    color: #666;
    border : 2px solid #666;
    cursor:pointer;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
    margin-top: 50px;
    /* margin-right: 50px; */
}
.succSubmit2:hover{
    background-color: #39A3C0;
    color: #fff;
}

.complete{
    width: 1%;
    height: 50px;
    margin-bottom : -50px;
    margin-left: 70%;
}
.complete > button{
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    border : 2px solid #666;
    cursor:pointer
}
.complete > button:hover{
    background: aqua;
}
.delete{
    width: 1%;
    height: 50px;
    margin-bottom : 10px;
    margin-left: 85%;
}
.delete  > button{
    display : inline;
    width: 130px;
    height: 50px;
    border-radius: 20px;
    font-size: 18px;
    border : 2px solid black;
    cursor:pointer
}
.delete  > button:hover{
    background: aqua;
}
textarea{
    resize: none;
    outline: none;
}
.ck1{
    margin-top: 50px;
}
.ck2{
	height : 600px;
}
