@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
* {
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
font-family: 'Pretendard-Regular';
}
html {
   margin: 0;
}
body {
   height : 100%;
}
.content{
   position: relative;
   /* background : green; */
}
.footer {
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
   color: white;
   background-image : url(/images/footer.jpg);
}