    .subMenu{
    margin-top: 10px;
    height: 50px;
    border-bottom: 1px solid grey;
}
.subMenu > ul {
    margin-left: 13%;
    line-height: 35px;
}
.subMenu > ul > li{
    list-style: none;
    float: left;
    margin-left: 50px;
}
.subMenu > ul > li > a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
.subMenu > ul > li > a:hover{
   color : red;
}


/* 자유게시판*/
.freeboard{
    width: 70%;
    height : 960px;
/*        border: 1px solid red;*/
    margin: auto;
}

.free_title{
    position: relative;
    border-bottom: 1px solid black;
    height: 100px;
}

.free_title > .title{
    position: absolute;
    margin-top: 30px;
}

.free_title > .title > span{
    font-size: 30px;
    font-weight: bold;
}

.free_content{
    background-color: rgba(196, 196, 196, 0.3);
    width: 95%;
    height: 700px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
}

.info_content{
    width: 100%;
    height: 800px;      
    margin: 0 auto;
}
.info_title{
    width: 100%;
    height: 50px;
}
.info_title_inner{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px; 
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
.info_title_inner label{
    width: 150px;
    font-size: 18px;
}
.info_title_inner input{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-size: 18px;
    border: none;
    background: #98D1CF;
}
.info_cont{
    width: 100%;
    height: 300px;
    border-bottom: 2px solid black;
}
.info_cont_inner{
    width: 100%;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.info_cont_inner label{
    width: 150px;
    line-height: 300px;
    font-size: 18px;
}
.info_cont_inner textarea{
    width: 91%;
    outline: none;
    padding: 0;
    box-sizing: border-box;
    display: block;
    border: none;
    background: #98D1CF;
    font-size: 18px;
    border-bottom: 2px solid black;
}

.info_imgs {
   width: 100%;
   height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.info_imgs label{
   width: 150px;
   line-height : 300px;
   font-size : 18px;
}
.imgs {
   width : 91%;
   height : 300px;
   overflow : auto;
}
.imgs img{
   width : 295px;
   height : 300px;
   float : left;
}

.info_file {
  margin-top: 20px;
  width: 100%;
  height: 30px;
    }
  .info_file input[type=file]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
}
.info_file > #files{
   display: none;
}

.info_file > .upload-name{
   width: 500px;
   height : 30px;
   border: none;
   overflow: auto;
   white-space: nowrap;
   margin-left : 20px; 
   font-size : 16px;
}

.info_file > .file_label > div{
 width: 150px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  float: left;
}
.info_submit{
    width: 5%;
    height: 50px;
    margin-top: 40px;
    margin-left : 55%;
    position : absolute;
}
button{
    display: block;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    position : absolute;
    margin-left: 85%;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
    color: #666;
    border : 2px solid #666;
}
button:hover{
    background-color: #39A3C0;
    color: #fff;
}
.info_submit  > a{
    display: block;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    margin-left: -130px;
    border : 2px solid #666;
    text-align : center;
    line-height : 46px;
    position : absolute;
    font-weight: bold;
    transition: 0.2s;
    background: #99DDEE;
    color: #666;
}
.info_submit  > a:hover{
    background-color: #39A3C0;
    color: #fff;
}

.info_cont_inner textarea{
    resize: none;
    outline: none;
}